NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=
UPLOAD_PASSWORD=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
ALLOWED_EMAIL_DOMAIN=
SESSION_SECRET=
RESEND_API_KEY=
NOTIFY_EMAIL=
FROM_EMAIL=
